body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-header {
    background-color: #ffffff;
   border-bottom: 1px solid #e7e9fc;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
a:hover, 
a:active,
a:focus 
{
    color: #404bbf;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
  max-width: 1158px; 
  padding: 0 15px;  
  margin: 0 auto;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 48px;}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-hero {
    background-color: #2e2f42;
}
.nav-list {
display: flex;
align-items: center;
color: #2e2f42;
}
.nav-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}   
.contact {
    font-family: inherit;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   font-style: normal;
}
.contact-list {
    display: flex;
    align-items: center;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}
.btn-primary {
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-list {
     display: flex;
    justify-items: space-between;
}
h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
.team-item {
    background-color: #ffffff;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
img {
    display: block;
}
footer {
    background-color: #2e2f42;
}
.text-footer {
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;  
    color: #f4f4fd;
}
.footer-logo {
    color: #f4f4fd;
}