body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
a:hover, 
a:active,
a:focus 
{
    color: #404bbf;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px; 
    padding: 0 15px;  
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 48px;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-hero {
    background-color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    color: #2e2f42;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}   
.contacts {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    gap:40px;
    display: flex;
    align-items: center;
}
  .contacts-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    width: 496px;
    padding-top: 188px;
    padding-bottom: 292px;
}
.btn-primary {
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}
.btn-container {
    text-align: center;
    padding-bottom: 188px;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.visually-hidden {
    position: absolute;
     width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hero-list {
    display: flex;
    justify-items: space-between;
    column-gap: 24px;
    padding: 120px 0;
}
h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
}
.hero-text {    
    padding-bottom: 8px;

}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
.team-container {
    width: 1440px;
    height: 732px;
    padding-bottom: 120px;;
}
.team-text {
    padding: 120px 0 72px 0;
}
.team-list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 264px;
    height: 380px;
    padding-bottom: 120px;
}
.team-item {
    background-color: #ffffff;
    width: 264px;
}
.name-post {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 32px 16px;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    row-gap: 24px;
    column-gap: 24px;
    padding-bottom: 120px;
}
img {
    display: block;
}
footer {
    background-color: #2e2f42;
}
.text-footer {
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;  
    color: #f4f4fd;
}
.footer-logo {
    color: #f4f4fd;
}