body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
a:hover, 
a:active,
a:focus 
{
    color: #404bbf;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1158px; 
    padding: 0 15px;  
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.heder-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.logo-text {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section {
    padding: 120px 0;
}
.section-hero {
    background-color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    color: #2e2f42;
    gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}   
.contacts {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    gap:40px;
    display: flex;
    align-items: center;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    gap: 40px;
}
.section-hero {
    padding: 188px 0;
}
.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff; 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    margin: 0;
    padding: 0;
}
.btn-primary {
    border-radius: 4px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    margin-top: 48px;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #404bbf;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0;
    padding: 0;
}
.team-section {
   background-color: #f4f4fd; 
   text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-container {
    width: calc((100% - 72) / 4);
 
}
.hero-list {
     display: flex;
     column-gap: 24px;
     justify-content: center;
}

h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}
.hero-text {
    padding-bottom: 8px;
    width: 264px;
    height: 24px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
    padding: 0;
}
.team-text {
    padding-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: calc((100% - 72) / 4);
    margin: 0;
    border-radius: 0 0 4px 4px;
}
.team-item {
    background-color: #ffffff;
    width: 264px;
}
.name-post {
    background-color: #ffffff;
    display: flex;
    margin: 0 auto;
    padding: 32px 16px;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
}
.text-portfolio {
    padding-bottom: 72px;
    text-align: center;
}
.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-name {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}
img {
    display: block;
}
.main-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-footer {
    padding-top: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;  
    color: #f4f4fd;
}
.footer-logo {
    color: #f4f4fd;
}
.footer-container {
    width: 264px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-self: start;

}